<h1>Listing factoids</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Picture</th>
    <th>Header</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @factoids.each do |factoid| %>
  <tr>
    <td><%= factoid.text %></td>
    <td><%= factoid.picture %></td>
    <td><%= factoid.header %></td>
    <td><%= link_to 'Show', factoid %></td>
    <td><%= link_to 'Edit', edit_factoid_path(factoid) %></td>
    <td><%= link_to 'Destroy', factoid, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Factoid', new_factoid_path %>
