<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @factoid.text %>
</p>

<p>
  <b>Picture:</b>
  <%= @factoid.picture %>
</p>

<p>
  <b>Header:</b>
  <%= @factoid.header %>
</p>


<%= link_to 'Edit', edit_factoid_path(@factoid) %> |
<%= link_to 'Back', factoids_path %>
