<script language="JavaScript">
function SelectAnswer(questionID) {	
	//Get elements
	var inputElements = document.getElementsByTagName("input")
	var input

	//Check against regext and disable if it matches given ID
	for(var i = 0; i < inputElements.length; i++) {
		input = inputElements[i] 
		if(input.id.match('.*_' + questionID + '_.*')) {
			input.disabled = true;
		}
	}
		
	//Setup element var, this could fail if there is no element at which point
	//nothing else will be executed so be careful about that
	var responseElement = document.getElementById(questionID+"_response")
	
	//Show the prompt
	responseElement.style.display='block';	
}
</script>
<script language ="JavaScript">
function EnableButtons() {
	//Get elements
	var inputElements = document.getElementsByTagName("input")
	var input
	
	//Re-enabled the buttons so they work for submitting data
	for(var i = 0; i < inputElements.length; i++) {
		input = inputElements[i] 
		if(input.disabled == true) {
			input.disabled = false;
		}
	}	
}
</script>

<%= form_for(@user) do |f| %>
	<p>Do not select an answer until you are sure, answers will lock.  </p>
	</section>
	<!-- GET ERROR DISPLAY -->
	<% if @user.errors.any? %>
	<section class="round">
		<div id="error_explanation" class="error">
		<h3><%= pluralize(@user.errors.count, "error") %> prohibited the results from being saved:</h3>
		<ol>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ol>
		</div>
	<% end %>
	
	<!-- GET QUESTIONS DISPLAY -->
	<% Question.all.each_with_index do |q,i| %>
		</section>
		<section class="round">
		<span class="prompt"><%= q.id %>) <%= q.prompt %></span>	<br />

		<span class="options">
			<% if q.options.nil? == false && q.options.empty? == false%>
				<% q.options.split(' | ').each do |a| %>
					 <%= f.radio_button "q#{q.id}", a, :onclick => "SelectAnswer('q#{q.id}')" %> <%= a %><br />
				<% end %>
			<% end %>
		</span>

		<% if q.response.nil? == false && q.response.empty? == false %>
			<br />
			<div class="notice" id="q<%=q.id%>_response" style="DISPLAY: none">
				<%= q.response %>
			</div>
		<% end %>	
	<% end%>

	<!-- GET EMAIL -->
	</section>
	<section class="round">
	<div class="field">
		<h3>Optional</h3>
		<p>Enter email to see results.  Your contact information will be saved separately from results. </p>
		<%= f.label :email %>  <%= f.text_field :email %>
	</div>
	
	<!-- SET SUBMIT -->
	</section>
	<section class="round">
	<div class="actions">
    	<%= f.submit 'Submit Results', :class => "submit_button round", :onclick=>"EnableButtons()" %>
  	</div>
  
<% end %>