<script language="JavaScript">
function SelectAnswer(questionID)
{	
	//Disable radio buttons
	var inputElements = document.getElementsByTagName("input")
	var input
	for(var i = 0; i < inputElements.length; i++) {
		input = inputElements[i] 
		if(input.id == questionID) {
			input.disabled = true;
		}
	}
		
	//Setup element var, this could fail if there is no element at which point
	//nothing else will be executed so be careful about that
	var responseElement = document.getElementById(questionID+"_response")
	
	//Show the prompt
	responseElement.style.display='block';	
}
</script>

<%= form_for(@user) do |f| %>
	
	<!-- GET ERROR DISPLAY -->
	<% if @user.errors.any? %>
	</section>
	<section class="round">
		<div id="error_explanation" class="error">
		<h3><%= pluralize(@user.errors.count, "error") %> prohibited the results from being saved:</h3>
		<ol>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ol>
		</div>
	<% end %>
	
	<!-- GET QUESTIONS DISPLAY -->
	<% Question.all.each_with_index do |q, q_index| %>
		</section>
		<section class="round">
		<span class="prompt"><%= q.prompt %></span>

		<% @user.answers = {} if(@user.answers.nil? || @user.answers.empty?) %>		
		<span class="options">
			<% if q.options.nil? == false && q.options.empty? == false%>
				<br />
				<% q.options.split(' | ').each_with_index do |a, a_index| %>
					<% id = "user_answers_q#{q_index}"%>
					<%= debug id if Rails.env.development? %>
					<% name = "user[answers][q#{q_index}]"%>
					<% type = "radio" %>
					<% value = "#{a_index}" %>
					<% checked = "false" %>
					<% checked = "checked='checked'" if @user.answers["q#{q_index}"] == a_index.to_s %>
				<input id='<%= id %>' name='<%= name %>' type='<%= type %>' value='<%= value %>' onclick ="javascript:SelectAnswer('<%= id %>')" href="javascript:;" <%= checked %>/>  
					<%= a %>
					<br />
				<% end %>
			<% else %>
				<%= debug id if Rails.env.development? %>
				<% id = "user_answers_q#{q_index}"%>
				<% name = "user[answers][q#{q_index}]"%>
				<% type = "text" %>
				<% value = @user.answers["q#{q_index}"] %>
				<input id='<%= id %>' name='<%= name %>' size="30" type='<%= type %>' value ='<%= value %>'/>
				<br />
			<% end %>
		</span>

		<% if q.response.nil? == false && q.response.empty? == false %>
			<br />
			<div class="notice" id="user_answers_q<%=q_index%>_response" style="DISPLAY: none">
				<%= q.response %>
			</div>
		<% end %>	
    <% end%>

	<!-- GET EMAIL -->
	<div class="field">
		<h3>Optional</h3>
		<p>If you would like to be receive access to the survey results you may enter your email here.  All contact information will be saved separate from survey results. </p>
		<%= f.label :email %>  <%= f.text_field :email %>
	</div>
	
	<!-- SET SUBMIT -->
	</section>
	<section class="round">
	<div class="actions">
    	<%= f.submit 'Submit Results', :class => "submit_button round"%>
  	</div>
  
<% end %>