<h1>Listing users</h1>

<% User.all.each do |user| %>
	<h3>User <%= user.id %></h3>
	<div><dd><b>ID:</b> <%= user.id %></dd></div>
	<div><dd><b>Created @:</b> <%= user.created_at.to_s %></dd></div>
	<div><dd><b>Updated @:</b> <%= user.updated_at.to_s %></dd></div>
	<ul>
		<li><%= link_to 'Show', user %></li>
		<li><%= link_to 'Edit', edit_user_path(user) %> </li>
		<li><%= button_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></li>
	</ul>
	<br /><br />
<% end %>

<%= link_to 'New User', new_user_path %>
