<h1>Listing users</h1>

<table>
	<!-- SETUP THE HEADER ROW -->
	<tr>
	<% User.new.attributes.sort.each do |key, value|%>
    <th><%= key %></th>
	<% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

	<!-- FILL IN THE DATA  -->
	<% @users.each do |user| %>
  <tr>
	<% user.attributes.sort.each do |key, value| %>
    <td><%= value %></td>
	<% end %>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= button_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
