<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>A1:</b>
  <%= @user.a1 %>
</p>

<p>
  <b>A2:</b>
  <%= @user.a2 %>
</p>

<p>
  <b>A3:</b>
  <%= @user.a3 %>
</p>

<p>
  <b>A4:</b>
  <%= @user.a4 %>
</p>

<p>
  <b>A5:</b>
  <%= @user.a5 %>
</p>

<p>
  <b>A6:</b>
  <%= @user.a6 %>
</p>

<p>
  <b>A7:</b>
  <%= @user.a7 %>
</p>

<p>
  <b>A8:</b>
  <%= @user.a8 %>
</p>

<p>
  <b>A9:</b>
  <%= @user.a9 %>
</p>

<p>
  <b>A10:</b>
  <%= @user.a10 %>
</p>

<p>
  <b>A11:</b>
  <%= @user.a11 %>
</p>

<p>
  <b>A12:</b>
  <%= @user.a12 %>
</p>

<p>
  <b>A13:</b>
  <%= @user.a13 %>
</p>

<p>
  <b>A14:</b>
  <%= @user.a14 %>
</p>

<p>
  <b>A15:</b>
  <%= @user.a15 %>
</p>

<p>
  <b>A16:</b>
  <%= @user.a16 %>
</p>

<p>
  <b>A17:</b>
  <%= @user.a17 %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
