<%= form_for(@user) do |f| %>
	
	<!-- GET ERROR DISPLAY -->
	<% if @user.errors.any? %>
	</section>
	<section class="round">
		<div id="error_explanation" class="error">
		<h3><%= pluralize(@user.errors.count, "error") %> prohibited the results from being saved:</h3>
		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
	<% end %>

	<!-- GET EMAIL -->
	<div class="field">
		<%= f.label :email %>  <%= f.text_field :email %>
	</div>
	
	<!-- GET QUESTIONS DISPLAY -->
	<% answers = Array.new(Question.count) %>
	<% Question.all.each_with_index do |q, q_index| %>
	</section>
	<section class="round">
	<div class="prompt">
		<b><%= q.prompt %></b>
	</div>

	<div class="options">
		<% if q.options.nil? == false && q.options.empty? == false%>
			<% q.options.split(' | ').each_with_index do |a, a_index| %>
				<%= f.radio_button :answers, a_index %><%= a %><br />
			<% end %>
		<% else%>
			<%= f.text_field :answers %>
		<% end %>
	</div>

	<div class=".info"><p><%= q.response %></p>
	</div>
	<% end %>
	
	<!-- SET SUBMIT -->
	</section>
	<section class="round">
	<div class="actions">
    	<%= f.submit 'Submit Results'%>
  	</div>
  
<% end %>