<h1>Survey Results</h1>
<p>Overall results are provided as well as results by demographic information.  Answers in bold mark best practice where appropriate.  Results are updated semi-live, so feel free to check back.</p>
<%= link_to "Overall Results", overall_results_path %><br />
<%= link_to "Results by Gender", results_by_gender_path %><br />
<%= link_to "Results by Practice Setting", results_by_setting_path %><br />
<%= link_to "Results by Age", results_by_age_path %><br />
<%= link_to "Results by Experience", results_by_experience_path %><br />
<%= link_to "Results by Region", results_by_region_path %><br />